@charset "utf-8";

@import url("fontawesome-4.3.0.min.css");
@import url("framework.css");

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row0{
	border-bottom:1px solid;
	
	/* 헤더고정추가 */
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0.9; /* 투명도 */
}
.row1, .row1 a{
}

/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{
	padding:30px 0;
}

#header #logo{}
#header #logo h1{margin:0; padding:0; font-size:26px;}

#header .nospace.inline{text-transform:uppercase; font-size:.8rem;}
#header .nospace.inline li{margin:0 15px 0 0; padding:0 20px 0 0; border-right:1px solid;}
#header .nospace.inline li:last-child{margin:0; padding-right:0; border:none;}

/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar{padding:30px 0;}

#topbar form{display:block; position:relative; width:100%; max-width:320px;}
#topbar input, #topbar button{display:block; height:30px; border:none;}
#topbar input{width:100%; min-width:250px; padding:5px 40px 5px 10px; border-radius:8px;}
#topbar button{position:absolute; top:0; right:0; width:35px; border-radius:0 8px 8px 0; font-size:16px; cursor:pointer;}
#topbar button em{display:none;}

/* Sidebar */
.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}

/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:30px 0;}
#copyright *{margin:0; padding:0;}

/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */

/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{margin:5px 0 0 0;}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:160px; text-transform:none;}
#mainav ul ul ul{left:160px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 30px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:0 0 10px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:5px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{display:none;}
#mainav ul li:hover > ul{display:block;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */

/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#888888;}
a{color:#93C0C5;}
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}

/* Rows */
.row0, .row0 a{color:#242424; background-color:#FFFFFF;}
.row0{border-color:#D7D7D7;}
.row1, .row1 a{color:#242424; background-color:#FFFFFF;}

/* Header */
#header .nospace.inline li{border-color:#D7D7D7;}

/* Top Bar */
#topbar input{color:inherit; background-color:#F5F5F5;}
#topbar button{color:#FFFFFF; background-color:#93C0C5;}

/* Navigation */
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#93C0C5; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#93C0C5;}
#mainav form select{border-color:#D7D7D7;}

/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */

/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}

/* Smartphone + Tablet
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:180px) and (max-width:750px) {
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}

	#topbar #search{margin:20px 0 0 0;}
}

@media screen and (min-width:180px) and (max-width:900px) {
	#header, #topbar, #breadcrumb, #intro, #cta, .container, #footercta, #footer, #copyright{max-width:95%;}

	#header{}
	#header #logo{margin:0 0 15px 0;}

	#topbar{}

	#intro{padding:120px 0 40px;}
	#intro .heading{font-size:46px;}
	#intro .btn{padding:12px 30px; font-size:inherit; font-weight:normal;}

	#cta{padding-bottom:20px;}

	#mainav{margin:0;}
	#mainav ul{display:none;}
	#mainav form{display:block;}

	#breadcrumb{}

	.container{padding-bottom:50px;}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#footer{padding-bottom:50px;}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}

/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px) {
	#header, #topbar, #breadcrumb, #intro, #cta, .container, #footercta, #footer, #copyright{max-width:978px;}
}

/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px) {
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}
}






















