	#jb-container {
		margin: 10px auto;
		padding: 20px;
		border: 1px solid #bcbcbc;
        
		width: 90%;
		margin-top: 150px;     
	}
	#jb-header {
		padding: 20px;
		margin-bottom: 20px;
		border: 1px solid #bcbcbc;
        
		width: 100%;
		position: fixed;
		top: 0px;
		left: 0px;
		background: #655480;
	}
	#jb-content {
		width: 70%;
		height: 2002px;
		padding: 20px;
		margin-bottom: 20px;
		float: left;
		border: 1px solid #bcbcbc;
	}
	#jb-sidebar {
		width: 20%;
		padding: 20px;
		margin-bottom: 20px;
		float: right;
		border: 1px solid #bcbcbc;
	}
	#jb-footer {
		clear: both;
		padding: 20px;
		border: 1px solid #bcbcbc;
	}
	@media ( max-width: 480px ) {
		#jb-header {
			background: red;
		}
		#jb-container {
			width: auto;
		}
		#jb-content {
			float: none;
			width: auto;
		}
		#jb-sidebar {
			float: none;
			width: auto;
		}
	}
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      